params {
    ppis                   = "ppis.csv"
    outdir                 = "results"
    edge_weight            = "normalized_bitscore"  // "bitscore" or "normalized_bitscore"
    kahip_seed             = 1234
    kahip_k                = 3
    kahip_preconfiguration = "strong"
    cdhit_identity         = 0.4
    cdhit_wordsize         = 2
    embedding_model        = "esm2"  // "none" (one-hot), "esm2", "prot_t5", or path to pre-computed .npz
    seed                   = 42
    heatmap_max_per_split  = 500
}

process {
    cpus   = 1
    memory = '4 GB'
    time   = '2 h'

    withName: 'RUN_BLAST' {
        cpus   = 4
        memory = '8 GB'
        time   = '12 h'
    }
    withName: 'RUN_KAHIP' {
        cpus   = 4
        memory = '8 GB'
        time   = '4 h'
    }
    withName: 'CDHIT_*' {
        cpus   = 4
        memory = '8 GB'
        time   = '4 h'
    }
    withName: 'EMBED_SEQUENCES' {
        memory = '32 GB'
        time   = '12 h'
    }

    withName: 'TRAIN_CLASSIFIER' {
        memory = '32 GB'
        time   = '1 h'
    }

    withName: 'BIAS_ANALYSIS' {
        memory = '32 GB'
        time   = '1 h'
    }
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
    }

    docker {
        docker.enabled = true
    }

    slurm {
        process.executor = 'slurm'
    }

    test {
        params.ppis   = "${projectDir}/data/test_ppis.csv"
        params.kahip_k = 3
    }
}
